<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it114112fyp.staff_android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".Login_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StaffProfile_Task_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".EditStaffProfile_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ConfirmOrder_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".EditOrder_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".AddNewGoods_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TaskDetails_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LogTransferRecord_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ConveyorBeltList_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ShopFunction_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".FindGoodsDetails_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".FindOrderDetails_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MoreFunction_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".GoodsDetails_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ReceiveOrder_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".IssueOrder_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".BeltController_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
    </application>
</manifest>
